
.dropbackground{
    background-image: url('../images/IMG_5978.JPG'); 
    background-size: 60% auto; 
    background-position: right top; 
    font-family: 'Arial', sans-serif; 
    margin: 0; 
    padding: 0;
    width: 100%;
    height: 172vh;
  }
  .backdrop-overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }


